
@{
    ViewBag.Title = "index";
}


<h2 style="padding-left: 40px">Reports</h2>
<ul style="list-style: none; font-size: 20px">

    <li>@Html.ActionLink("Inventory Report", "inventory", "reports")</li>
    <li>@Html.ActionLink("Sales Report", "sales", "reports")</li>
</ul>
